.education-section {
  background-color: #1d2226;
  border-radius: 8px;
  border: 1px solid #38434f;
  padding: 24px;
}

.education-section h2 {
  font-size: 20px;
  color: white;
  margin-bottom: 20px;
}

.education-item {
  display: flex;
  gap: 16px;
  margin-bottom: 20px;
}

.education-item:last-child {
  margin-bottom: 0;
}

.school-logo {
  width: 48px;
  height: 48px;
  background-color: white; /* Geralmente logos de escolas têm fundo branco */
  border-radius: 4px;
}

.education-details h3 {
  font-size: 16px;
  color: white;
  font-weight: 600;
}

.degree {
  font-size: 14px;
  color: white;
  margin-top: 2px;
}

.edu-duration {
  font-size: 14px;
  color: #9facbd;
  margin-top: 2px;
}